<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBImageTableCell</string>
			<key>icon</key>
			<string>TWOptions</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ApplyAlerts</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icona@2x.png</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.crazymind90.twoptions</string>
			<key>key</key>
			<string>FollowConf</string>
			<key>label</key>
			<string>Followbutton</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icona@2x.png</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.crazymind90.twoptions</string>
			<key>key</key>
			<string>ReplyConf</string>
			<key>label</key>
			<string>Replybutton</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icona@2x.png</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.crazymind90.twoptions</string>
			<key>key</key>
			<string>TweetConf</string>
			<key>label</key>
			<string>Tweetbutton</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icona@2x.png</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.crazymind90.twoptions</string>
			<key>key</key>
			<string>RetweetConf</string>
			<key>label</key>
			<string>Retweetbutton</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icona@2x.png</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.crazymind90.twoptions</string>
			<key>key</key>
			<string>LikeConf</string>
			<key>label</key>
			<string>Likebutton</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icona@2x.png</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.crazymind90.twoptions</string>
			<key>key</key>
			<string>DMConf</string>
			<key>label</key>
			<string>DMsendbutton</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>OtherOptions</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icona@2x.png</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.crazymind90.twoptions</string>
			<key>key</key>
			<string>DMTyping</string>
			<key>label</key>
			<string>DMTyping</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icona@2x.png</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.crazymind90.twoptions</string>
			<key>key</key>
			<string>QR</string>
			<key>label</key>
			<string>EnableQR</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icona@2x.png</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.crazymind90.twoptions</string>
			<key>key</key>
			<string>TweetVoice</string>
			<key>label</key>
			<string>TweetVoice</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string>apt@2x.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>ApplyChanges</string>
			<key>label</key>
			<string>ApplyChanges</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string>CrazyiCon@2x.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>CrazyTwitter</string>
			<key>label</key>
			<string>CrazyMind90 🇨🇦</string>
		</dict>
	</array>
	<key>title</key>
	<string>TWOptions</string>
</dict>
</plist>
